<div class="flex justify-evenly w-full h-max p-3">
    <span
      class="text-center text-bold text-xl w-1/2 text-slate-100 hover:text-slate-200 cursor-pointer border-0 hover:border-b-2 hover:border-indigo-950"
      (click)="toggleTab('login')"
    >
        LOGIN
    </span>
    <span
      class="text-center ext-bold text-xl w-1/2 text-slate-100 hover:text-slate-200 cursor-pointer border-0 hover:border-b-2 hover:border-indigo-950"
    (click)="toggleTab('register')"
    >
        REGISTER
    </span>
</div>