<mat-tab-group backgroundColor="primary" color="primary">
  <mat-tab label="Login">
    <div class="flex justify-center items-center bg-teal-950 h-screen w-screen">

      <mat-card appearance="outlined">
        <mat-card-content>
          <div class="flex flex-col w-max rounded-lg" style="padding: 20px;">

            <!-- Username Input -->
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput type="text" />
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
    
            <!-- Password Input -->
            <mat-form-field>
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide() ? 'password' : 'text'" />
              <button
                mat-icon-button
                matSuffix
                (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()"
              >
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            
            <!-- Login Button -->
            <div class="flex justify-end w-full">
              <button mat-fab extended>
                <mat-icon>
                  login
                </mat-icon>
                Login
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      
    </div>
  </mat-tab>

  <mat-tab label="Register">
    <div class="flex justify-center items-center bg-teal-950 h-screen w-screen">
      <div class="flex flex-col w-max rounded-lg" style="padding: 20px;">

        <!-- Name Input -->
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <!-- Username Input -->
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <!-- Password Input -->
        <mat-form-field>
          <mat-label>Choose your password</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        
        <!-- Login Button -->
        <div class="flex justify-end w-full">
          <button mat-fab extended>
            <mat-icon>
              person_add
            </mat-icon>
            Register
          </button>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
