<div class="flex justify-center items-center h-screen w-screen bg-indigo-950 overflow-auto md:overflow-hidden no-scrollbar">
    <div class="flex flex-col items-center md:flex-row w-[90%] h-full md:h-[75%] gap-10 lg:gap-20">
        <section class="flex flex-col gap-10 p-5 justify-center items-center w-[90%] md:w-1/2 h-full bg-slate-100 rounded-xl">
            <img [src]="logo" height="200" width="200" alt="logo" />
            <span class="text-3xl font-bold font-sans text-indigo-800">
                CLUBS API ADMIN
            </span>
            <span class="text-xl text-indigo-600">
                A Simple Soccer API
            </span>
        </section>
        <section class="w-[90%] md:w-1/2 h-full">
            <app-tabs />
        </section>
    </div>
</div>
